/*** Global style***/
html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

li {
    list-style: none;
}


/*** Feature style***/
main {
    margin: auto 100px;
    display: flex;
}

main div {
    flex-grow: 1;
}

.links {
    width: 80%;
    display: inline-block;
}

.link {
    margin-bottom: 10px;
}

.link a {
    border-radius: 10px 10px 0 0;
    height: 30px;
    padding: 3px 5px;
    font-size: 1.2em;
    display: block;
    background-color: #09e4ad;
    vertical-align: middle;
}

.link a:link,
.link a:visited {
    color: #fff;
}

.link a:hover {
    background-color: #54f6cd;
}

.link p {
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    border-radius: 0 0 10px 10px;
    margin: 0;
    padding: 5px;
}

.side-bar {
    width: 20%;
    display: inline-block;
}

footer {
    border-top: solid 1px #eee;
    box-shadow: 0 -0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    text-align: center;
    font-size: 1.2em;
    padding: 20px;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer ul li {
    display: inline-block;
}

footer ul li a {
    color: #636b6f !important;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
}

footer ul li a:hover {
    color: #636b6f !important;
    background-color: #fafafa;
    text-decoration: underline;
}


/*** Submit a link page ***/
.submit-link-head h1 {
    margin: auto;
}

.submit-link-title {
    width: 90%;
}

.submit-link-url {
    width: 90%;
}

.submit-link-description {
    width: 90%;
}
